.main {
  max-width: 500px;
  width: 85%;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.btn-wrapper {
  /* flexbox */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  font-weight: 400;
  font-size: 16px;
}

.btn:active {
  background-color: #ffffff;
  color: #3a3b3c;
  border-bottom: 2px solid #ccc;
}

.btn-primary {
  display: inline-block;
  cursor: pointer;
  border: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 0px;
  height: 40px;
  width: 40px;
  line-height: 45px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 25px;
  vertical-align: center;
  line-height: 0px;
  background: orange;
  color: #ffffff;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.btn-primary:hover {
  background-color: #444242;
}


@media screen and (min-width: 600px) {
  .main {
    width: 70%;
    background-color: white;
  }
}

label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  padding-bottom: 1rem;
}

.lg-text-input {
  width: 300px;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 20px;
  border: 1px solid #3a3b3c;
  border-radius: 7px;
  box-sizing: border-box;
  font-size: 1rem;
  text-transform: capitalize;
  outline: none;
}

.btn-wrapper {
  padding-bottom: 12px;
}

.btn-menu {
  margin: 0 8px;
  font-size: 17px;
  color: orange;
  cursor: pointer;
}

.active {
  color: #3a3b3c;
    border-bottom: 2px solid orange;
}

ul {
  padding-inline-start: 0;
}

ul li {
  list-style: none;
}
