<link rel="stylesheet" href="app.component.css">
<link rel="stylesheet" href="//style.css">

<div class="main">
  <h1>My To Do List</h1>
  <label for="addItemInput">What would you like to do today?</label><br />

  <input class="textinput"
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput" />
  <button class="btn-primary" (click)="addItem(newItem.value)">+</button>

  <div class="btn-wrapper">
      <div
        class="btn btn-menu"
        [class.active]="filter == 'all'"
        (click)="filter = 'all'">
        All
      </div>

      <div
        class="btn btn-menu"
        [class.active]="filter == 'active'"
        (click)="filter = 'active'">
        Pending
      </div>

      <div
        class="btn btn-menu"
        [class.active]="filter == 'done'"
        (click)="filter = 'done'">
        Done
      </div>
    </div>

  <h2>{{items.length}} <span *ngIf="items.length === 1; else elseBlock">item</span>
  <ng-template #elseBlock>items</ng-template></h2>

  <ul>
    <li *ngFor="let i of items">
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  </ul>
